{% extends "head.html" %}
{% block content %}

<form  action="/add_teacher" method="post">
     <label> Username:
        <input type="text" name="username" placeholder="Username" />
    </label>
    <label> Password:
        <input type="password" name="password" placeholder="Password" />
    </label>
    <input type="checkbox" value="teacher" name="teacher" id="teacher">
    <label for="teacher">Teacher</label>
    <input type="checkbox" value="caller" name="caller" id="caller">
    <label for="caller">Caller</label>
    <input type="checkbox" value="admin" name="admin" id="admin">
    <label for="admin">Admin</label>
    <input type="submit" value="Add" />
</form>

    {% endblock %}